body {
    margin: 0;
    background: url('/Tetris/img/back.jpg');
    background-size: cover;
    background-repeat: repeat;
    font-family: 'VT323', monospace;
}
#root {
    padding: 3rem;
    text-align: center;
}
#root h1 {
    color: white;
    font-size: 42px;
}
#root canvas {
    display: block;
    margin: 0 auto;
    background: black;
    border: 2px solid purple;
    -webkit-box-shadow: 0px 0px 10px 1px purple;
    -moz-box-shadow: 0px 0px 10px 1px purple;
    box-shadow: 0px 0px 10px 1px purple;
}
.color_red {
    color: red;
    border-radius: 20px;
    background: rgba(255, 0, 0, 0.45);
    box-shadow: 0px 0px 16px 0px red;
}
.color_orange {
    color: orange;
    border-radius: 20px;
    background: rgba(255, 166, 0, 0.45);
    box-shadow: 0px 0px 16px 0px orange;
}
.color_yellow {
    color: yellow;
    border-radius: 20px;
    background: rgba(255, 255, 0, 0.45);
    box-shadow: 0px 0px 16px 0px yellow;
}
.color_green {
    color: green;
    border-radius: 20px;
    background: rgba(0, 128, 0, 0.45);
    box-shadow: 0px 0px 16px 2px green;
}
.color_cyan {
    color: cyan;
    border-radius: 20px;
    background: rgba(0, 255, 255, 0.45);
    box-shadow: 0px 0px 16px 0px cyan;
}
.color_purple {
    color: purple;
    border-radius: 20px;
    background: rgba(128, 0, 128, 0.45);
    box-shadow: 0px 0px 16px 2px purple;
}