
body {
    margin: 0;
    background: url('../img/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'VT323', monospace;
}
#root {
    padding: 3rem;
    text-align: center;
}
#root h1 {
    color: white;
    font-size: 42px;
}
#root canvas {
    display: block;
    margin: 0 auto;
    background: black;
    border: 2px solid purple;
    -webkit-box-shadow: 0px 0px 10px 1px purple;
    -moz-box-shadow: 0px 0px 10px 1px purple;
    box-shadow: 0px 0px 10px 1px purple;
}

.color_red {
    color: red;
    border-radius: 20px;
    background: rgba(255, 0, 0, 0.45);
    box-shadow: 0px 0px 16px 0px red;
}
.color_orange {
    color: orange;
    border-radius: 20px;
    background: rgba(255, 166, 0, 0.45);
    box-shadow: 0px 0px 16px 0px orange;
}
.color_yellow {
    color: yellow;
    border-radius: 20px;
    background: rgba(255, 255, 0, 0.45);
    box-shadow: 0px 0px 16px 0px yellow;
}
.color_green {
    color: green;
    border-radius: 20px;
    background: rgba(0, 128, 0, 0.45);
    box-shadow: 0px 0px 16px 2px green;
}
.color_cyan {
    color: cyan;
    border-radius: 20px;
    background: rgba(0, 255, 255, 0.45);
    box-shadow: 0px 0px 16px 0px cyan;
}
.color_purple {
    color: purple;
    border-radius: 20px;
    background: rgba(128, 0, 128, 0.45);
    box-shadow: 0px 0px 16px 2px purple;
}
.buttons {
    display: none;
}
.buttons_button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin: 10px;
    background: rgba(128, 0, 128, 0.5);
    font-size: 12px;
    color: chartreuse;
}
.buttons_button_2 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin: 10px;
    background: rgba(128, 0, 128, 0.5);
    font-size: 14px;
    color: chartreuse;
}

@media screen and (max-width: 1024px) {
    #root {
        padding: 0;
    }
    .buttons {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .buttons button {
        outline: none;
    }
    
}
@media screen and (max-width: 414px) {
    #root {
        padding: 0;
    }
    .buttons {
        flex-wrap: wrap;
    }
    body {
        background-size: auto;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 414px) {
    #root canvas {
        margin: 2px;
    }

     
}