    .clearfix:after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
    body {
        font-family: 'Montserrat', sans-serif;
    }
    a:link {
        text-decoration: none;
    }
    .scrollup{
        width:60px;
        height:60px;
        opacity:0.3;
        position:fixed;
        bottom:20px;
        right:10px;
        display:none;
        text-indent:-9999px;
        background-image: url('../images/circled_up.png');
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        z-index: 100;
        }
    .scrollup:hover {
        opacity:0.9;
    }
    header {
        background:#212121;
      }
    .socialnetworks{
        float: left;
    }
    .socialnetworks img{
        padding: 0px 10px;
    }   
    .menu_header_top{
       float: right;
    }  
    .midtop {
        width: 1140px;
        height: 40px;
        margin: 0 auto;
        background:#212121;
        padding-top: 4px;
    }
    .header {
        background: white;
        border-bottom: #53515198 solid 1px;
        z-index: 10;
    }  
    .midbottom {
        width: 1140px;
        height: 66px;
        margin: 0 auto;
        text-align: justify;
        padding: 10px 0;
    }
    .midbottom_menu {
        float: right;
    }

    .headhesive{
        background:rgba(255, 255, 255, 0.9);
        position: fixed;
        width: 100%;
        transform: translateY(-100%);
        transition: 0.5s;
    }
    .headhesive--stick{
        transform: translateY(0);
    }
    .menu_header_1 {
        float: right;
    }
    .logotype {
        float: left;
        cursor: pointer;
      }
    .logotype:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
      }
    ul.menu_header_1 li{
        display: inline-block;
        margin-top: 10px;
        font-size: 10px;
    }
    ul.menu_header_1 li a{
        text-decoration: none;
        color: white;
        text-align: center;
        cursor: pointer;
        padding: 0px 15px;
        font-size: 13px;
        font-weight: 700;
        
    }
    ul.menu_header_1 li a:hover{
        text-decoration: none;
        color: #e84c3d;
        text-align: center;
        cursor: pointer;
        padding: 0px 15px;
        font-size: 13px;
        font-weight: 700;
    }
    ul.menu_header_2 {
        float: right;
        margin: 21px 0px 0px 0px;
    }
    ul.menu_header_2 > li{
        float: left;
        padding: 0px 15px;
        margin-top: 5px;
        height: 20px;

    }
    ul.menu_header_2>li>a{
        text-decoration: none;
        color: #212121;
        font-size: 13px;
        font-weight: 700;
    }
    ul.menu_header_2>li>a:hover{
        text-decoration: none;
        color: #e84c3d;
        font-weight: 700;
    }
    .menu__list {  
        position: relative; 
    }
    .menu_header_2_drop {
        background: #212121;
        text-decoration: none;
        color: white;
        font-weight: 400;
        position: absolute;
        width: 100%;
        padding: 15px;
        top:-9999em;
        opacity: 0;
        -webkit-transition: 0.5s opacity;
        transition: 0.5s opacity;
    }
    .menu_header_2_drop>li {
        padding: 15px 0px;
    }
    .menu_header_2_drop>li>a {
        text-decoration: none;
        color: white;
        font-size: 13px;
        font-weight: 400;
    }

    .menu__list:hover .menu_header_2_drop {
        position: absolute;
        opacity: 1;
        top: 20px; 
        z-index: 100;
    }
    .libolt {
        font-size: 20px;
    }
    .jssorb051 .i {
        position:absolute;
        cursor:pointer;
    }
    .jssorb051 .i .b {
        fill:#fff;fill-opacity:0.5;
        stroke:#000;
        stroke-width:400;
        stroke-miterlimit:10;
        stroke-opacity:0.5;}
    .jssorb051 .i:hover .b {
        fill-opacity:.7;
    }
    .jssorb051 .iav .b {
        fill-opacity: 1;
    }
    .jssorb051 .i.idn {
        opacity:.3;
    }
    
    .jssora051 {
        display:block;
        position:absolute;
        cursor:pointer;
    }
    .jssora051 .a {
        fill:none;stroke:#fff;
        stroke-width:360;
        stroke-miterlimit:10;
    }
    .jssora051:hover {
        opacity:.8;
    }
    .jssora051.jssora051dn {
        opacity:.5;
    }
    .jssora051.jssora051ds {
        opacity:.3;pointer-events:none;
    }
    .jssora_catalog {

    }
    
    .container {
        width: 1140px;
        margin: 0 auto;
        padding-top: 45px;
        text-align: center;
    }
    .container_h3 {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: .4px;
    }
    .container_line {
        width: 60px;
        height: 4px;
        background: #191c1e;
        display: inline-block;
        margin: 23px 0 40px 0;
    }
    .container_goods{
        width: 1127px;
        height: 450px;
        margin: auto;     
    }
    .product_goods {
        width: 185px;
        height: 320px;
        float: left;
        padding: 0px 20px;
        margin: auto;
        cursor: pointer;
    }
    .product_goods:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
      }
    .img_goods {
        width: 200px;
        height: 290px;
    }
    .product_goods p:last-child {
        color: #e84c3d;
    }
    .product_goods p:nth-child(3){
        color: #212121;
        
    } 
    .product_goods_hr {
        color: #6b636388;
        padding-bottom: 10px;
    }

    .go_to_catalog {
        color: #191c1e;
        padding-top: 50px;
        border: #212121 solid 2px;
        padding: 20px;
        width: 300px;
        margin: auto;
        font-size: 18px;
        font-weight: 700;
    }
    .go_to_catalog:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 0.5s;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }
      .b_w_foto {
       background: url('../images/orig.png');
       height: 260px;   
       margin-top: 80px;
      }
      .our_blog  {
        background: #212121;
        height: 924px;
        
      }
      .container_h3_2 {
        text-align: center;
        color: white;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: .4px;
        padding-top: 60px;
    }
    .container_line_2 {
        width: 60px;
        height: 4px;
        background: white;
        display: inline-block;
        margin: 23px 0 40px 0;
        text-align: center;
    }
    .our_blog_info {
        height: 515px;
        width: 1140px;
        margin: 0 auto;
    }
    .blog_window {
        background: #fff;
        margin: 20px;
        height: 210px;
        width: 530px;
        float: left;
    }
    .info_in_blog_window_1 {
        background: url('../images/blog/blog_01.jpg');
        background-repeat: no-repeat;
        float: left;
        width: 265px;
        height: 210px;
    }
    .info_in_blog_window_2 {
        background: url('../images/blog/blog_2.jpg');
        background-repeat: no-repeat;
        float: left;
        width: 265px;
        height: 210px;
    }
    .text_in_blog_window_1 {
        float: right;
        width: 265px;
        height: 210px;
    }

    .sm_line_in_blog {
        height: 3px;
        width: 39px;
        margin: 5px 0;
        background: black;
        margin-left: 15px;
    }
    .text_in_blog_window_1 p:nth-child(1) {
        font-size: 12px;
        color: #919597;
        padding: 10px 15px;
    }
    .text_in_blog_window_1 p:nth-child(2) {
        font-size: 12px;
        color: #919597;
        padding: 10px 15px;
    }
    .text_in_blog_window_1 p:nth-child(3) {
        font-size: 16px;
        font-weight: 700;
        color: black;
        padding: 10px 15px 5px 15px;
    }
    .red_color_4_sale{
        color: #e84c3d !important;
        font-size: 20px;
    }
    .text_in_blog_window_1 p:nth-child(5) {
        font-size: 14px;
        color: #000000;
        padding: 10px 15px;
    }
    .litte_fire {
        width: 22px;
        height: 22px;
    }
    .info_in_blog_window_3 {
        background: url('../images/blog/blog_3.jpg');
        background-repeat: no-repeat;
        float: right;
        width: 265px;
        height: 210px;
    }
    .info_in_blog_window_4 {
        background: url('../images/blog/blog_4.jpg');
        background-repeat: no-repeat;
        float: right;
        width: 265px;
        height: 210px;
    }
    .text_in_blog_window_2 {
        float: left;
        width: 265px;
        height: 210px;
    }
    .text_in_blog_window_2 p:nth-child(1) {
        font-size: 12px;
        color: #919597;
        padding: 10px 15px;
    }
    .text_in_blog_window_2 p:nth-child(2) {
        font-size: 12px;
        color: #919597;
        padding: 10px 15px;
    }
    .text_in_blog_window_2 p:nth-child(3) {
        font-size: 16px;
        font-weight: 700;
        color: black;
        padding: 10px 15px 5px 15px;
    }
    .text_in_blog_window_2 p:nth-child(5) {
        font-size: 14px;
        color: #000000;
        padding: 10px 15px;
    }
    .Looking_all {
        color: white;
        text-align: center;
        border: white solid 2px;
        padding: 20px;
        margin-top: 30px;
        width: 300px;
        margin: auto;
        font-size: 18px;
        font-weight: 700;
    }
    .Looking_all:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 0.5s;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      }
    .insta_blok {
        padding-top: 70px;
        width: 300px;
        margin: auto;
    }
    .green_line {
        background: #e84c3d;
        width: 44px;
        height: 2px;
        margin: 0 16px;
        float: left;
    }   
    .follow {
        float: left;
        position: relative;
        bottom: 17px;
        
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
    }
    .follow a {
        text-emphasis: none;
        color: #e84c3d;
    }
    .insta {
        widows: 24px;
        height: 24px;
        position: relative;
        bottom: -4px;
    }
    .container_gallery {
        
        width: 1900px;
        margin: 0 auto;
        text-align: center;
    }
    .our_gallery {
        float: left;
        
    }
    .our_gallery:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 0.5s;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
    .join_to_us {
        width: 1140px;
        height: 476px;
        margin: 0 auto;
    }
    .join_to_us_block {
        width: 350px;
        height: 393px;
        float: left;
        border: 1px solid #e0e6eb;
        border-radius: 5px;
        margin: 0px 13.5px 0px 13.5px;

    }
    .brands_bg {
        background: #191c1e;
    }
    .brands_container {
        width: 1900px;
        height: 160px;
        background: #191c1e;
        position: relative;
        margin: 0 auto;
    }
    .brands_container img {
        margin: 50px 21px;
    }
    .ishop {
        text-align: center;
        height: 310px;
    }
    .ishop h3 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 80px;
    }
    .ishop p {
        font-size: 18px;
        margin: 20px;
        text-align: justify;
    }
    .mail_us {
        background-color: #e84c3d;
        height: 90px;
    }
    .mail_us_img {
        float: left;
        font-size: 60px;
        position: relative;
        bottom: 26px;
    }
    .mail_us_text {
        float: left;
        font-size: 18px;
        font-weight: 700;
        margin-left: 30px;
        position: relative;
        bottom: 6px;
    }
    .mail_us_email {
        float: left;
        border: #212121 solid 1px;
        margin-left: 30px;
        height: 40px;
        padding-left: 10px;
        background-color: #ee7a6f;
        position: relative;
        bottom: 20px;
        border-radius: 3px;
    }
    .mail_us_button {
        float: right;
        width: 225px;
        height: 40px;
        position: relative;
        bottom: 20px;
        font-size: 18px;
        font-weight: 700;
        background-color: #212121;
        color: #e84c3d;
        border: none;
        border-radius: 3px;
    }
    .mail_us_button:hover {
        float: right;
        width: 225px;
        height: 40px;
        position: relative;
        bottom: 20px;
        font-size: 18px;
        font-weight: 700;
        background-color: #212121;
        color: #e84c3d;
        border: none;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        border-radius: 3px;
    }
    footer {
        background-color: #212121;
        height: 400px;
    }
    .footer_con_1 {
        width: 390px;
        height: 300px;
        float: left;
        text-align: left;
        padding: 10px;
    }
    .our_shops {
        color: #e84c3d;
        margin-top: 20px;
    }
    .first_market h3 {
        font-size: 20px !important;
        color: white;
        font-weight: 700;
        display: block;
        margin: 15px 0px;
    }
    .first_market p {
        font-size: 12px;
        color: white;
        display: block;
        margin: 15px 0px;
    }
    .first_market p:hover {
        font-size: 12px;
        color: #e84c3d;
        display: block;
        margin: 15px 0px;
    }
    .first_market a:hover {
        font-size: 12px;
        color: #e84c3d;
        display: block;
        margin: 15px 0px;
        cursor: pointer;
    }
    .footer_con_2 {
        width: 180px;
        height: 266px;
        float: left;
        text-align: left;
        padding: 10px;
    }
    .footer_con_2 h3 {
        font-size: 20px !important;
        color: white;
        font-weight: 700;
        display: block;
        margin: 15px 0px;
    }
    .footer_con_2 p {
        font-size: 12px;
        color: white;
        display: block;
        margin: 15px 0px;
    }
    .footer_con_2 p:hover {
        font-size: 12px;
        color: #e84c3d;
        display: block;
        margin: 15px 0px;
    }
    .footer_con_2 a:hover {
        font-size: 12px;
        color: #e84c3d;
        display: block;
        margin: 15px 0px;
        cursor: pointer;
    }
    .footer_con_3 {
        width: 290px;
        height: 300px;
        float: right;
        text-align: left;
        padding: 10px;
    }
    .footer_con_3 h3 {
        font-size: 20px !important;
        color: white;
        font-weight: 700;
        display: block;
        margin: 15px 0px;
    }
    .footer_con_3 p {
        font-size: 10px;
        color: white;
        display: block;
        margin: 15px 0px;
    }
    .last_cont_bg {
        background-color: #212121;
    }
    .last_cont {
        width: 1140px;
        margin: 0 auto;
        height: 70px;
        background-color: #212121;
    }
    .socialnetworks_2{
        float: left;
        position: relative;
        top: 16px;
    }
    .all_rights {
        float: right;
        font-size: 12px;
        color: #919597;
        position: relative;
        top: 30px;
    }
    

